body{
    margin: 0;
    background-color:#ffffff;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    margin: 20px 20px;
    border: 3px solid #000;
    display: flex;
}


.text-content{
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.img-container {
    font-size: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-container {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-container h1, .title-container h2 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}

.title-container h2{
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}

.img, .avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.container {
    
    padding: 20px;
    background-color: #ffffff;
    display: flex;
}

.sider, .content{
    border: 3px solid #000;
    background-color: white;
    padding: 20px 0;
    width: 100%;
}

.sider{
    width: calc(40% - 20px);
    margin-right: 20px;
}

.content{
    flex-grow: 1;
}

.tag-fill {
    background-color: #1684a0;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    display: inline-block;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.tag-content {
    padding-left: 20px;
    margin-top: 16px;
    margin-bottom: 24px;
}


.tag-content ul {
    margin: 0px;
    padding: 0;
}

.tag-content ul li {
    list-style-type: none;
    padding: 8px 0;
}

.tag-content ul li img {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
}

.progress-container{
    width: 80%;
}

.progress-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.progress-wrap{
    width: 100%;
    height: 10px;
    background-color: #f8f5f5;
    margin-top: 8px;
    margin-bottom: 16px;
}

.progress{
    width: 50%;
    height: 10px;
    background-color:#1684a0;
}

.tag{
    background-color: #1684a0;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    display: inline-block;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.tabbar-title{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.tabbar-title .text-content {
    font-weight: 600;
    color: #16a085;

}

.content ul {
    padding: 0;
}

.content ul li {
    list-style-type: none;
}

.text-date {
    padding: 0 20px;
    color: #16a085;
    font-style: italic;
}

.description-content h3 {
    padding: 0 20px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.description-content ul {
    padding-left: 40px;
    margin-top: 10px;
}

.description-content ul li {
    text-align: justify;
    list-style-type: none;
    margin-top: 10px;
}

.description-content ul li ul li{
    text-align: justify;
    list-style-type: square;
    margin-bottom: 6px;
}